html {
  font-size: 1rem;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

header {
  background-color: #203040;
  color: #ffffff;
  height: 50px;
  font-size: 1.2rem;
  padding: 20px;
  position: sticky;
  top:0;
  z-index: 10;
    a {
      color: #ffffff;
      text-decoration: none;
    }
}

main {
  overflow-y: scroll;
  height: calc(100vh - 90px);
  .content {
    .main {
      .filter {
        border-bottom: 2px solid #c0c0c0;
      }
      .product {
        padding: 10px;
        &:nth-of-type(3n) {
          padding-right: 0;
        }
      }
        img{
          max-width: 250px;
        }
    }
  }
}

footer {
  background-color: #203040;
  color: #ffffff;
  bottom: 0;
  height: 40px;
}


//cart

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: 2px solid #c0c0c0;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
  img {
    width: 5rem;
  }
  li {
    border-bottom: 2px solid #c0c0c0;
    div {
      padding: .5rem;
    }
    &:last-child {
      flex: 1;
    }
  }
}

.total {
  font-size: 1rem;
}

